html, body {
    margin: 0;
    padding: 0;
  }
  canvas {
    display: block;
  }


  .draw-select{
    border: 1px solid black;
    background-color: white;
    font: .75em "Times New Roman", serif;
  }

  .draw-slider {
    border: 1px solid black;
    background-color: white;
    width: 9vw;
  }

  .draw-colorPicker{
    border: 1px solid black;
    background-color: white;
    width: 8.65vw;
    height: 8.65vw;
  }

  .draw-button {
    border: 1px solid black;
    background-color: white;
    font: .75em "Times New Roman", serif;
    width: 9vw;
  }







